<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <!-- You header comes here -->
    <%- include("includes/header") %>
    <!-- Your side-drawer comes here -->
     <%- include("includes/side-drawer") %>
    <main>
      <h1>Success!</h1>
      <p>Your restaurant was successfully added to our list!</p>
    </main>
  </body>
</html>